html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

canvas {
  display: block;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#images{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#menu_backBtn{
  background-color: transparent;
  transition: opacity 1s, transform 0.5s;
  transform: translateY(-10px);
  opacity: 0;
}

#aditionalText{
  overflow: auto;
}

#aditionalInfo_Contaiter{
  top : 0px;
  left : 0px;
  position: absolute;
  color : white;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.menuItem{
  transition: opacity 0.8s, transform 1s cubic-bezier(0, 1, 0, 1);
  transform: translateY(1000px);
}

.menuItem.off{
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0, 1, 0, 1);
  transform: translateY(100px);
}

.wordexplorer{
  font-family: sans-serif;
}


/*  TITLE */

.wordexplorer.title{
  position: absolute;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.wordexplorer.title.on{
  opacity: 1;
}
.wordexplorer.title.off{
  opacity: 0;
}
.wordexplorer.line{
  width: 0;
  opacity: 1;
  transition: width 0.5s, opacity 0.5s;
  transition-delay: 0.1s;
  position: absolute;
}


/* WORDS */

.wordexplorer.container{
  position: absolute;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  transition-delay: 0.2s;
}

.wordexplorer.container.on{
  margin-left: 0;
  opacity: 1;
}

.wordexplorer.container.off{
  margin-left: 10%;
  opacity: 0;
  transition-delay: 0.07s;
}
.wordexplorer.word{
  font-weight: 900;
}
