html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  display: block;
}

#menu_backBtn{
  background-color: transparent;
  transition: opacity 2s, transform 0.5s;
  transform: translateY(-10px);
  opacity: 0;
}

.menuItem{
  transition: opacity 2s, transform 0.5s;
  transform: translateY(0px);
}

.wordexplorer{
  font-family: sans-serif;
}


/*  TITLE */

.wordexplorer.titleContainer{
  position : absolute;
}
.wordexplorer.title{
  position: absolute;
  margin-left: -5%;
  opacity: 0;
  transition: margin-left 0.5s, opacity 0.5s;
}
.wordexplorer.title.on{
  margin-left: 0%;
  opacity: 1;
}
.wordexplorer.title.off{
  margin-left: 10%;
  opacity: 0;
}
.wordexplorer.line{
  width: 0;
  opacity: 1;
  transition: width 0.5s, opacity 0.5s;
  transition-delay: 0.1s;
  position: absolute;
}


/* WORDS */

.wordexplorer.container{
  position: absolute;
  z-index: 2;
  margin-left: -5%;
  opacity: 0;
  transition: margin-left 0.5s, opacity 0.5s;
  transition-delay: 0.2s;
}

.wordexplorer.container.on{
  margin-left: 0;
  opacity: 1;
}

.wordexplorer.container.off{
  margin-left: 10%;
  opacity: 0;
  transition-delay: 0.07s;
}
.wordexplorer.word{
  font-weight: 900;
}
